/* Mulai code Anda dari baris terakhir */

* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

/* bagian safa */
header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 140px;
    margin-top: 1px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
    /* padding: 10px 20px; */
}

.header-right a {
    line-height: 75px;
    color: white;
    display: block;
    float: left;
    transition: all 1s;
    margin-right: 20px;
    margin-left: 10px;
}

.header-right a:hover {
    /* background-color: rgba(255, 255, 255, 0.3); */
    color:#1ed5c3;
}

.nav-ico {
    display: none;
}

.menu-icon {
    color: #1ed5c3;
    float: right;
    font-size: 35px;
    padding: 21px 0;
    display: none;
    margin: 15px 10px 0px 0px;
}

/* bagian sandy */
a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1178px;
    padding: 0 15px;
    margin: 0 auto;
}

.container span {
    color: #1ed5c3;
    font-style: italic;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(bgmain.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px black;
    animation-duration: 2s;
}

.top-wrapper p {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    text-shadow: 2px 1px 1px black;
    text-align: center;
    letter-spacing: 2px;
    animation-duration: 2s;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.signup {
    background-color: #1ed5c3;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 7px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    width: 330px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Libre Baskerville', serif;
}

.btn:hover {
    opacity: 1;
    color: black;
}

/* bagian salpia */
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ECF2F4;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    font-family: open sans-serif;
}

.heading p {
    /* margin-bottom: 20px;
	text-align: center;
	letter-spacing: 4px; */
    padding-top: 20px;
    font-family: "open sans light";
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 25px;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon img {
    width: 80%;
    height: 80%;
    background-color: #1ed5c3;
    border: 3px #1ed5c3 double;
    padding: 10px;
    position: relative;
}

img {
    width: 70%;
    height: 70%;
    /* background-color: #8fe7ff; */
    /* border: 3px #8fe7ff double; */
    padding: 10px;
    position: relative;
}

.text-line span {
    padding: 10px;
    background: #ECF2F4;
    color: #000;
}

.text-line center {
    text-align: center;
}

.text-line {
    background-color: #1ed5c3;
    height: 3px;
    vertical-align: middle;
    line-height: 1px;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    color: black;
}

/* bagian sudirman */
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color: #ECF2F4;
}

.message {
    padding: 15px 15px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/* bagian sopian */
footer p {
    color: black;
    font-size: 16px;
    text-align: center;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #1ed5c3;
}

/* bagian beda */

.oke {
    float: left;
    width: 25%;
}

.oke-icon {
    position: relative;
}

.oke-icon img {
    width: 80%;
    height: 80%;
    padding: 10px;
    position: relative;
}
