body {
  margin: 0;
  font-family: 'Lucida Sans';
}

/* Header by safa */
header{
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  position: fixed;
  z-index: 10;
}

.logo{
  width: 160px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  padding:30px 20px;
}

.header-right a{
  padding:0px 15px;
  line-height: 25px;
  color:white;
  font-size:20px;
  transition: all 1s;
}

.header-right a:hover{
  color:#1ed5c3;
  font-weight: bold;
}

/* batas safa */

/* MAIN BY SANDY*/

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container span {
  color: #1ed5c3;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bgmain.jpg);
  height: 600px;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 7px;
  margin-bottom: 8px;
  padding-bottom: 0 15px;
  text-shadow: 2px 2px 1px black;
  animation-duration: 2s;
}

.top-wrapper p {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 80px;
  text-shadow: 2px 1px 1px black;
  text-align: center;
  letter-spacing: 2px;
  animation-duration: 2s;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  width: 250px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #1ed5c3;
}

.btn-wrapper {
  margin: 20px 0;
}

/* BATAS MAIN SANDY */

/* CSS BY SALPIA */
.lesson-wrapper {
	height: 600px;
	padding-bottom: 80px;
	background-color: #ECF2F4;
	text-align: center;
}

img .lesson-icon{
	width: 80%;
	height: 80%;
	background-color: #8fe7ff;
	border: 3px #8fe7ff double;
	padding: 10px;
	position: relative;
}

img {
	width: 70%;
	height: 70%;
	/* background-color: #8fe7ff; */
	/* border: 3px #8fe7ff double; */
	padding: 10px;
	position: relative;
}

.heading {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #5f5d60;
  /* letter-spacing: 2px; */
}

.heading h2 {
	font-family: open sans-serif;
  font-size: 40px;
	margin-bottom: 30px;
	padding-bottom: 0 15px;
}

.text-line span {
	padding: 10px;
	background: #ECF2F4;
  color: #000;
}

.text-line center {
	text-align: center;
}

.text-line {
	background-color: #1ed5c3;
	height: 3px;
	vertical-align: middle;
	line-height: 1px;
}

.heading p {
	/* margin-bottom: 20px;
	text-align: center;
	letter-spacing: 4px; */
  padding-top: 10px;
  font-family: "open sans light";
  font-size: 20px;
  color: black;
  margin: 0%;
  text-align: center;
}

.lesson {
	float: left;
	width: 25%;
  margin-top: 30px;
}

.lesson-icon {
	position: relative;
}

.lesson-icon p {
	position: absolute;
	top: 90px;
	width: 100%;
}

.txt-contents {
	width: 80%;
	display: inline-block;
	margin-top: 20px;
	font-size: 15px;
	color: black;
	text-align: center;
	letter-spacing: 1px;
}

/* BATAS MAIN SALPIA */


/*CSS BY SAN*/
body {
  background-color: #ecf2f4;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

.body2{
  margin-top: 100px;
}
h1 {
  font-family: open sans-serif;
  font-size: 40px;
  color: black;
  margin-top: 25px;
  padding-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.body2 p {
  font-family: "open sans light";
  font-size: 20px;
  color: black;
  margin: 0%;
  text-align: center;
}
hr {
  top: 0;
  left: 10%;
  width: 90%;
  height: 2px;
  background: grey;
  margin-top: 2%;
}
.img0 img{
  float:left;
  width:270px;
  height:190px;
  padding-left: 5px;
  padding-top: 5%;
  margin-left: 2%;
  background-image: none !important;
}
.img1 img {
  float: left;
  width: 190px;
  height: 190px;
  vertical-align: middle;
  padding-left: 3%;
  padding-top: 5%;
  margin-left: 2%;
  background-image: none !important;
}

.img2 img{
  float:left;
  width:320px;
  height:200px;
  padding-left: 0px;
  padding-top: 5%;
  margin-left: 2%;
  background-image: none !important;
}

.img3 img{
  float:left;
  width:190px;
  height:190px;
  padding-left: 2px;
  padding-right: 5px;
  padding-top: 5%;
  margin-left: 2%;
  background-image: none !important;
}

/* footer by safa */
.container-footer{
  margin-top: 500px;
  height: 80px;
  width: 100%;
  background-color: #1ed5c3;

}

.text-footer{
  text-align: center;
}

.text-footer p{
  padding:30px;
}

/* batas footer */
