body {
  margin: 0;
  font-family: 'Lucida Sans';
}

/* Header by safa */
header{
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  position: fixed;
  z-index: 10;
}

.logo{
  width: 160px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  padding:25px 20px;
}

.header-right a{
  padding:0px 15px;
  line-height: 25px;
  color:white;
  font-size:20px;
  transition: all 1s;
}

.header-right a:hover{
  color:#1ed5c3;
  font-weight: bold;
}

/* batas safa */

/* MAIN BY SANDY*/

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container span {
  color: #1ed5c3;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bgmain.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 7px;
  margin-bottom: 8px;
  padding-bottom: 0 15px;
  text-shadow: 2px 2px 1px black;
  animation-duration: 2s;
}

.top-wrapper p {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
  text-shadow: 2px 1px 1px black;
  text-align: center;
  letter-spacing: 2px;
  animation-duration: 2s;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  width: 250px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #1ed5c3;
}

.btn-wrapper {
  margin: 20px 0;
}

/* BATAS MAIN SANDY */

/* CSS BY SALPIA */


/* BATAS MAIN SALPIA */


/*CSS BY SAN*/
body {
  background-color: #ecf2f4;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: open sans-serif;
  font-size: 40px;
  color: black;
  margin-top: 25px;
  padding-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.body2 p {
  font-family: "open sans light";
  font-size: 25px;
  color: black;
  margin: 0%;
  text-align: center;
}
hr {
  top: 0;
  left: 10%;
  width: 90%;
  height: 2px;
  background: grey;
  margin-top: 2%;
}
.img0 img{
  float:left;
  width:270px;
  height:190px;
  padding-left: 5px;
  padding-top: 5%;
  margin-left: 2%;
}
.img1 img {
  float: left;
  width: 190px;
  height: 190px;
  vertical-align: middle;
  padding-left: 3%;
  padding-top: 5%;
  margin-left: 2%;
}

.img2 img{
  float:left;
  width:320px;
  height:200px;
  padding-left: 0px;
  padding-top: 5%;
  margin-left: 2%;
}

.img3 img{
  float:left;
  width:190px;
  height:190px;
  padding-left: 2px;
  padding-right: 5px;
  padding-top: 5%;
  margin-left: 2%;
}

/* footer by safa */
.container-footer{
  margin-top: 500px;
  height: 80px;
  width: 100%;
  background-color: #1ed5c3;

}

.text-footer{
  text-align: center;
}

.text-footer p{
  padding:30px;
}

/* batas footer */
